* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font: 14px "Helvetica", "Arial", sans-serif;
  color: $darkness;
}


// main layout elements
.main {
  width: 100%;
}

.header {
  padding: 40px 0;
  background: $marine;
  color: $ivory;
  text-align: center;
}
