body {
  font: 14px "Helvetica", "Arial", sans-serif;
  color: $j-smog;
}

p {
  margin:0 0 20px 0;
}

h1,h2,h3 {
  margin: 8px 0 20px;
}

ul li{
  margin: 0 0 10px;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
