@import url('https://fonts.googleapis.com/css?family=Bitter:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.bitter {
  font-family: 'Bitter', serif;
}

body {
  font: 14px 'Open Sans', sans-serif;;
  color: $j-smog;
}

p {
  margin:0 0 20px 0;
}

a {
  color: $j-vermillion;
  text-decoration: none;
}

h1,h2,h3 {
  margin: 8px 0 20px;
  @extend .bitter;
}

ul li{
  margin: 0 0 10px;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
