// colours
$j-grey: #ccc;
$j-white: #fff;
$j-darkness: #222;
$j-smog: #3a3934;

$j-marine: #69b7d3;
$j-ivory: #f9f9f7;

$j-fresh: #4abdac;
$j-vermillion: #fc4a1a;
$j-sunshine: #f7b733;
$j-clean: #dfdce3
